.page
{
    background-color: cornflowerblue;
    display: grid;

}
.container
{
    width: 60%;
    outline: 4px solid orange;
    aspect-ratio: 1;
    justify-content: space-around  ;
}
.box{
    
    height: 100px;
    width: 100px;
    display: flex;
    transform: translate(100%);
    background-color: yellowgreen;
    transition-duration: 2s;
    transition-timing-function: ease;

}
.box:hover
{
    background-color: chocolate;
    height: 150px;    
    
    transform: translatex(100px);
}


@keyframes move
{
    25%
    {
        transform: translatex(100px);
        top: 0px;
        left: 0px;
        transform: rotate(100);
    }
    50%
    {
        transform: translate(100px);
        top: 100px;
        left: 100px;
    }
}

